:root {
  /* color */
  --color-black: #000000;
  --color-light-grey: #7c7979;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-purple: #ff79ff;
  --color-dark-purple: #aa00c7;
  --color-orange: #ffab40;
  --color-dark-mint: #00cbcc;
  --color-mint: #b4ffff;
  --color-light-mint: #e5ffff;
  --color-baige: #efdcd5;

  /* font-size */
  --font-large: 50px;
  --font-mediume: 30px;
  --font-regular: 24px;
  --font-small: 18px;
  --font-micro: 12px;

  /* font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 6px;

  /* Animation */
  --animation-duration: 300ms;
}

/* defalut */

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif KR", serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  font-size: var(--font-regular);
  color: var(--color-dark-grey);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  font-size: var(--font-small);
  border: none;
  background-color: white;
}

section {
  padding: 80px 16px;
  text-align: center;
}

.section__container {
  max-width: 1000px;
  margin: auto;
  width: 100%;
  padding: 0 40px;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 20px 0px; /* 위아래 양쪽 */
}

h2 {
  font-size: var(--font-mediume);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 12px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px;
}

p {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 2px;
}

/* Navbar */
.nav__bar {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 36px;
  align-items: center;
  font-size: var(--font-small);
  background-color: var(--color-light-purple);
  z-index: 1;
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
}

.navbar__logo i {
  font-size: var(--font-mediume);
}

.navbar__logo i:hover {
  color: var(--color-light-mint);
  transform: rotate(-20deg);
  transition: all var(--animation-duration) ease;
}

.navbar__menu__item {
  padding: 10px;
  margin: 5px;
  font-weight: var(--weight-semi-bold);
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-purple);
  color: white;
  border: 1px solid white;
  border-radius: var(--size-border-radius);
}

.navbar__toggle-btn {
  position: absolute;
  top: 18px;
  right: 15px;
  font-size: var(--font-regular);
  cursor: pointer;
  display: none;
}

/* Home */

#home {
  background: url(img/background-home.png);
}

#home .section__container {
  display: flex;
  align-items: center;
  text-align: left;
}

.home__hello {
  padding: 50px;
  /* flex-basis: 70%; */
}

.contact-btn {
  font-size: var(--font-regular);
  margin-left: 15px;
  margin-top: 15px;
  padding: 10px;
  background-color: var(--color-light-purple);
  color: white;
  border-radius: var(--size-border-radius);
  border: 2px var(--color-light-mint) solid;
}

.contact-btn:hover {
  background-color: var(--color-dark-purple);
  cursor: pointer;
  transform: scale(1.2);
  transition: all var(--animation-duration) ease-in-out;
}

.home__avatar {
  margin-top: 50px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 6px 6px 2px 2px var(--color-light-grey);
}

/* About Me */

.about__titles * {
  margin-bottom: 25px;
}

.skills,
.strength {
  display: flex;
  justify-content: space-around;
}

.major__icon {
  font-size: 80px;
}

.major {
  padding: 15px 15px;
  margin-top: 5px;
  width: 260px;
}

.skills .major:hover i {
  color: var(--color-chaining);
  transform: rotate(-30deg);
  transition: all var(--animation-duration) ease-in;
}

.strength .major:hover i {
  color: var(--color-chaining);
  transform: rotate(30deg);
  transition: all var(--animation-duration) ease-out;
}

/* My Work */

#mywork {
  background: center/cover url(img/bgformywork.png);
}

.mywork__side__menu {
  padding: 15px 0;
  margin-bottom: 30px;
}

.mywork__side__menu-btn {
  position: relative;
  margin: 0 4px;
  background: var(--color-dark-grey);
  color: white;
  border: 1px var(--color-black) solid;
  border-radius: var(--size-border-radius);
  padding: 0 50px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  box-shadow: 1px 2px 1px 1px var(--color-dark-grey);
}

.mywork__side__menu-btn:hover {
  background-color: var(--color-light-grey);
}

.mywork__side__menu-btn:hover .mywork__count {
  top: 10px;
  opacity: 1;
}

.mywork__side__menu-btn:active {
  background-color: var(--color-grey);
}

.mywork__count {
  background-color: var(--color-orange);
  width: 25px;
  height: 25px;
  line-height: 25px;
  display: inline-block;
  position: absolute;
  margin-left: 5px;
  top: -30px;
  opacity: 0;
  border-radius: 50%;
  transition: all var(--animation-duration) ease-in;
  box-shadow: 2px 2px 1px 1px var(--color-dark-grey);
}

.mywork__projects {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 60%;
}

.img__container {
  margin: 20px 0;
  height: 350px;
}

.mywork__projects img {
  width: 240px;
}

.project__active {
  display: none;
}

.to-github:hover {
  font-size: var(--font-mediume);
  font-weight: var(--weight-semi-bold);
  color: var(--color-light-mint);
  transition: all var(--animation-duration) ease-out;
}

/* Contact */

#contact {
  background-color: var(--color-baige);
}

.contact__icons i {
  font-size: var(--font-large);
  margin: 0 30px;
  margin-top: 20px;
}

.contact__icons i:hover {
  color: var(--color-light-purple);
  transform: scale(1.2) rotate(-10deg);
  transition: all var(--animation-duration) ease-out;
}

/* Alert for Project description */
.project-alert {
  background-color: var(--color-light-grey);
  border-radius: calc(var(--size-border-radius) * 4);
  padding: 15px 45px;
  position: fixed;
  bottom: 30px;
  left: 38%;
}

.project-alert span {
  font-weight: var(--weight-bold);
}

.project-alert button {
  border-radius: 50%;
  font-size: var(--font-small);
}

@media screen and (max-width: 768px) {
  .nav__bar {
    color: white;
    display: block;
    transition: all var(--animation-duration) ease;
  }

  .navbar__menu {
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__logo {
    height: 55.6px;
    line-height: 55.6px;
  }

  #home .section__container {
    flex-direction: column;
    text-align: center;
  }

  .home__hello {
    order: 1;
  }

  .navbar__toggle-btn {
    display: block;
  }

  .open {
    display: block;
  }

  .skills,
  .strength {
    flex-direction: column;
    align-items: center;
  }

  .mywork__side__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mywork__side__menu-btn {
    margin-bottom: 15px;
  }

  .mywork__projects {
    display: flex;
    flex-direction: column;
  }

  .project-alert {
    left: 18%;
  }
}
